.miniPostCards{
    display: flex;
    align-items: center;
    align-content: center;
    margin-left: 10vh;
    margin-top: 5vh;
}
.miniPostCards .cardBody{
    position: flex;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: linear-gradient(152.97deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(3px);
}
.miniPostCards .bodyContent{
    padding: 10vh;
    padding-left: 10vh;
    padding-right: 10vh;
}
.miniPostCards .bodyContent .pokemonTitle{
    margin-top: 5vh;
    color: #ffffff;
    font-size: 3vh;
    text-decoration: none;
}
.pokemonImage{
    width: 30vh;
}