.miniPostCards{
    display: flex;
    align-items: center;
    align-content: center;
    margin-left: 10vh;
}
.miniPostCards .cardBody{
    background-color: rgba(255,255,255,0.3);
    backdrop-filter: blur(7px);
    margin-top: 10vh;
    border-radius: 2vh;
}
.miniPostCards .bodyContent{
    padding: 10vh;
    padding-left: 15vh;
    padding-right: 15vh;
    font-size: 3vh;
}
.miniPostCards .bodyContent .pokemonTitle{
    margin-top: 5vh;
}