/* Ellipse 14 */

.redBall{
    position: absolute;
    width: 233.91px;
    height: 233.91px;
    left: 708.95px;
    top: 282px;
    border-radius: 100%;
    background: radial-gradient(81.25% 81.25% at 67.32% 18.75%, #B31720 0%, #7B222D 100%);
    transform: rotate(30deg);
}
.blueBall{
    position: absolute;
    width: 99.83px;
    height: 99.83px;
    left: 458.91px;
    border-radius: 100%;
    top: 500px;
    background: radial-gradient(81.25% 81.25% at 67.32% 18.75%, #0B92BD 0%, #22467B 100%);
    transform: rotate(30deg);
}